.pageContainer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.dashContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.navContainer{
  width: 20%;
}

.outletContainer{
  width: 100%;
  height: auto;
}


@media screen and (max-width: 768px) {

  .dashContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .navContainer{
    width: 100%;
  }
}