.container {
  width: 100%;
  height: 100%;
  padding: 1.5625rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.titles{
  font-weight: 800; 
}

.infoForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line{
  height: 1px;
  background-color: black;
  margin: .3125rem 0;
}

.formUser{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 2.1875rem;
}

.passForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentPassForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .9375rem;
  gap: .9375rem;
}

@media screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    .line{
      height: 1px;
      background-color: black;
      padding: 1px;
    }

   .titles{
      font-size: 1.3rem;
      font-weight: 800;
   }

   .infoText{
      font-size: 0.8rem;
      letter-spacing: 0px;
   }

   .contentPassForm{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
   }
}