.menuusergroup {
  display: flex;
  flex-direction: column;
  padding: .3125rem;
  gap: .3125rem;
}

.btn {
  width: 100%;
  color: black;
  border-color: black;
  text-transform: none;
  justify-content: space-between;
}

.btn:hover {
  color: white;
  border-color: black;
  background-color: rgb(35, 32, 32);
}

.close {
  justify-content: center;
}

.menuuserlink {
  text-decoration: none;
}

.menuuserlink:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .menuusergroup {
    flex-direction: row;
    padding: 0 .5rem;
    gap: .3125rem;
  }

  .menuuserlink{
    width: 20%;
  }

  .btn{
    max-width: auto;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    line-height: 0.9rem;
    word-spacing: 0;
    letter-spacing: 0;
  }

  .close{
    justify-content: center;
  }
}